<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'App.Tittle' | translate:lang }}</h1>
      <div class="get-started" [ngClass]="animateOnRouteEnter">
        <h2 l10nTranslate>App.Refer</h2>
        <code>git clone
          http://li1695:90/SOFEA/porto-sofea-referencia
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
