

<!--
<div class="container">
        <div class="col-12">
            <h1 ps-title ps-heading="3" l10nTranslate>Cliente.Listar</h1>
            <ps-loading ps-size="lg" ps-color="gray" *ngIf="loadingLista" ></ps-loading>
        </div>
    <div class="row" ps-column ps-mobile="6" ps-desktop-sm="12" *ngIf="!loadingLista">

        <table ps-table-stripped>
            <thead>
                <tr>
                    <td>
                        {{ 'Cliente.Nome' | translate:lang }}
                    </td>
                    <th>
                        {{ 'Cliente.Endereco' | translate:lang }}
                    </th>
                    <th>
                        {{ 'Cliente.Telefone' | translate:lang }}
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 10, currentPage: page } ">
                    <th>
                        {{cliente.nome}}
                    </th>
                    <td>
                        {{cliente.endereco}}
                    </td>
                    <td>
                        {{cliente.telefone}}
                    </td>
                    <td>
                        <input type="button" ps-btn-primary value="Editar" (click)="openDialogEditarCliente(cliente)" />
                    </td>
                    <td>
                        <input type="button" ps-btn-primary value="Excluir" (click)="openDialogExcluirCliente('excluir', cliente)" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" align="right">

                        <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                            [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                            (pageChange)="page = $event"></pagination-controls>

                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
-->

<div class="container">
        <div class="row">
          <div class="col-12">
                <ps-loading ps-size="lg" ps-color="gray" *ngIf="loadingLista"></ps-loading>
          </div>
          <div class="col-12"  *ngIf="!loadingLista">
            <h3 ps-title ps-heading="3" l10nTranslate>Cliente.Listar</h3>
          </div>
        </div>
        <div ps-column ps-mobile="12" ps-tablet="12" ps-desktop-lg="12" ps-align="Center">
      
        <div ps-row>
        <ps-datagrid
            [pagesize]='5'
            [filtering]='true'
            [columns] = 'columnsTemplate'
            [source] = 'clientes'>
        </ps-datagrid>                  
        <ng-template let-row #editTemplateDataGrid>
                <div
                ps-column ps-mobile="11" ps-tablet="11" ps-desktop-lg="11" ps-align="Center">
                  <a href="javascript:void(0);" (click)="openModalEditar($event, row)" ps-btn-primary  ico>
                    <ps-ico ps-type="ps-glyph" ps-ico="checkbox"></ps-ico>
                    {{'Cliente.Edit' | translate}}
                  </a>
                </div>
        </ng-template>
        <ng-template let-row #removeTemplateDataGrid>
                <div
                ps-column ps-mobile="11" ps-tablet="11" ps-desktop-lg="11" ps-align="Center">
                  <a href="javascript:void(0);" (click)="openModalRemover($event, row)" ps-btn-alert  ico>
                    <ps-ico ps-type="ps-glyph" ps-ico="remove"></ps-ico>
                    {{ 'Dialog.Remover' | translate}}
                  </a>
                </div>
        </ng-template>
        </div>
</div>
</div>


<ps-modal #modalRemover (modalonshow)="log($event)" (modalonhide)="log($event)" ps-modal-small-desktop-sm>
    <ng-template ps-modal-title>
      <ps-ico ps-size="md" ps-ico="remove-user"></ps-ico> {{'Dialog.Remover' | translate}} <u>{{mensagem.cabecalho}}</u>
    </ng-template>
    <ng-template ps-modal-content>
      <div ps-row>
        <div ps-column ps-mobile="8" ps-tablet="12" ps-desktop-lg="12" class="ps-frm-row">
          <h3 ps-title ps-heading="4" ps-light>
            {{'Cliente.Excluir' | translate}}
          </h3>
        </div>
        <div ps-column ps-mobile="8" ps-tablet="12" ps-desktop-lg="12" class="ps-frm-row">
          &nbsp;
        </div>
      </div>
    </ng-template>
    <ng-template ps-modal-foot>
      <div ps-row>
        <div ps-column ps-mobile="6" ps-tablet="6" ps-desktop-sm="6" class="ps-frm-row">
          <button (click)="remover()" ps-btn-alert>{{'Dialog.Confirmar' | translate}}</button>
        </div>
        <div ps-column ps-mobile="6" ps-tablet="6" ps-desktop-sm="6" class="ps-frm-row">
          <button (click)="modalRemover.close($event);" ps-btn>{{'Dialog.Cancelar' | translate}}</button>
        </div>
      </div>
    </ng-template>
  </ps-modal>


  <ps-modal #modalEditar (modalonshow)="log($event)" (modalonhide)="log($event)" ps-modal-large-tablet>
    <ng-template ps-modal-title>
      <ps-ico ps-size="md" ps-ico="remove-user"></ps-ico> {{'Dialog.Remover' | translate}} <u>{{mensagem.cabecalho}}</u>
    </ng-template>
    <ng-template ps-modal-content>
      <div ps-row>
              <form id="form" [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
                    <div ps-row ps-column ps-mobile="4" ps-tablet="6" ps-desktop-sm="12">
                      <div ps-row>
                                <div ps-column ps-mobile="8" ps-tablet="8" ps-desktop-sm="12" c>
                                    <ps-form-field [label-internal]="'Cliente.Nome' | translate:lang">
                                    <input ps-field-entry type="text" id="nome"  formControlName="nome" name="nome"
                                      placeholder="{{ 'Valida.Informe' | translate:lang }}{{ 'Cliente.Nome' | translate:lang }}" />
                                    <div [hidden]="form.get('nome').errors === null || !getSubmittedForm()" [style.color]="form.get('nome').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('nome').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                      <label class="ps-frm-lbl" [hidden]="form.get('nome').status === 'VALID'">
                                        <small>{{ 'Valida.Min' | translate:lang }} 7 {{ 'Valida.Caracteres' | translate:lang }}</small>
                                      </label>
                                    </div>
                                  </ps-form-field>
                                </div>
                              </div>
                              <div ps-row>
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6">
                                    <ps-form-field [label-internal]="'Cliente.Endereco' | translate:lang">
                                    <input ps-field-entry type="text" id="endereco" formControlName="endereco" class="ng-valid required ps-frm-entry ps-frm-valid" 
                                    placeholder="{{ 'Valida.Informe' | translate:lang }}{{ 'Cliente.Endereco' | translate:lang }}"
                                    />
                                    <div [hidden]="form.get('endereco').errors === null || !getSubmittedForm()" [style.color]="form.get('endereco').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('endereco').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                      <label class="ps-frm-lbl" [hidden]="form.get('endereco').status === 'VALID'">
                                        <small>{{ 'Valida.Min' | translate:lang }} 7 {{ 'Valida.Caracteres' | translate:lang }}</small>
                                      </label>
                                    </div>
                                  </ps-form-field>
                
                                </div>
                
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6">
                                    <ps-form-field [label-internal]=" 'Cliente.Telefone' | translate:lang " placeholder="(99)9999-99999">
                                    <input ps-field-entry-cel ps-mask="(99) 99999-9999" type="text" id="telefone" formControlName="telefone" class="ng-valid required ps-frm-entry ps-frm-valid" 
                                    placeholder="{{ 'Valida.Informe' | translate:lang }}{{ 'Cliente.Telefone' | translate:lang }}"
                                    />
                                    <div [hidden]="form.get('telefone').errors === null || !getSubmittedForm()" [style.color]="form.get('telefone').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('telefone').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                    </div>
                                  </ps-form-field>
                
                                </div>
                
                              </div>
                              <div ps-row>
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6" >
                                  <ps-form-field [label-internal]=" 'Cliente.Cidade' | translate:lang ">
                                    <input ps-field-entry type="text" id="cidade" formControlName="cidade" placeholder="{{ 'Valida.Informe' | translate:lang }}{{ 'Cliente.Cidade' | translate:lang }}"
                                    />
                                    <div [hidden]="form.get('cidade').errors === null || !getSubmittedForm()" [style.color]="form.get('cidade').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('cidade').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                    </div>
                                  </ps-form-field>
                                </div>
                
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6">
                                  <ps-form-field [label-internal]="'Cliente.DataNascimento' | translate:lang" helper="01/01/2012">
                                    <input ps-field-entry-data ps-mask="99/99/9999"  id="dataNascimento"
                                    formControlName="dataNascimento" 
                                    />
                                    <div [hidden]="form.get('dataNascimento').errors === null || !getSubmittedForm()" [style.color]="form.get('dataNascimento').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('dataNascimento').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                    </div>
                                  </ps-form-field>
                                </div>
                              </div>
                              <div ps-row>
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6" >
                                    <ps-form-select>
                                      <select formControlName="uf" id="uf">
                                          <option *ngFor=" let uf of listUf ">{{uf}}</option>
                                      </select>
                                    </ps-form-select>
                                      <div [hidden]="form.get('uf').errors === null || !getSubmittedForm()" [style.color]="form.get('uf').errors && getSubmittedForm() ? 'red': '' ">
                                        <label class="ps-frm-lbl" [hidden]="form.get('uf').hasError('required') === false ">
                                          <small l10nTranslate>Valida.Required</small>
                                        </label>
                                      </div>
                                  </div>
                
                                <div ps-column ps-mobile="8" ps-tablet="6" ps-desktop-sm="6" >
                                  <ps-form-select>
                                    <select formControlName="sexo" id="sexo">
                                      <option>M</option>
                                      <option>F</option>
                                    </select>
                                  </ps-form-select>
                                    <div [hidden]="form.get('sexo').errors === null || !getSubmittedForm()" [style.color]="form.get('sexo').errors && getSubmittedForm() ? 'red': '' ">
                                      <label class="ps-frm-lbl" [hidden]="form.get('sexo').hasError('required') === false ">
                                        <small l10nTranslate>Valida.Required</small>
                                      </label>
                                    </div>
                                </div>
                              </div>
                          </div>
                  </form>
       </div>
    </ng-template>
    <ng-template ps-modal-foot>
      <div ps-row>
        <div ps-column ps-mobile="6" ps-tablet="6" ps-desktop-sm="6" class="ps-frm-row">
          <button (click)="submit()" ps-btn-primary>{{'Dialog.Confirmar' | translate}}</button>
        </div>
        <div ps-column ps-mobile="6" ps-tablet="6" ps-desktop-sm="6" class="ps-frm-row">
          <button (click)="modalEditar.close($event);" ps-btn>{{'Dialog.Cancelar' | translate}}</button>
        </div>
      </div>
    </ng-template>

    <button ps-btn (click)="createNotify('Notificação de alerta aberta criada de outro componente', 'alert');">
      Notificação dinâmica
      </button>
  </ps-modal>
  
